*{box-sizing: border-box;}
.top_bottom{
    display: block;
    background-color: #C0C0C0;
    padding: 20px;
    text-align: center;
    border:  2px solid black;
    border-radius: 15px;
    font-family: sans-serif;
    min-width: 380px;
    margin: 5px;
}
.btn{
    padding: 7px;
    border-radius: 7px;
    color: white;
}
.up{
    background-color: #228B22;
    border-color: #228B22;
}
.home{
    background-color: #1E90FF;
    border-color: #1E90FF;
}
.center{
    margin: 0px 10px 10px 10px;
    border-left: 5px solid gray;
    min-width: 390x;
}
.mini{   
    width: 120px;
    margin: 5px 5px 5px 0px;
    border:  1px solid gray;
}
.comment{
    display: flex;
    margin: 5px;
    margin-bottom: 15px;
    border:  1px solid black;
    box-shadow: 10px 10px 5px gray;
    padding: 7px;
    text-align: left;
}
.list{
    font-weight: bold;
    font-family: sans-serif;
}
.big{
    font-size: 19px
}
.h1{
    color: blue;
}
.citate{
    font-size: 20px;
    font-style: italic;
}
.author{
    text-align: right;
}
.txt{
   padding-left: 5px; 
    display: block;
}
@media (max-width: 600px){
    .txt{
        font-size: 12px; 
    }
    .comment{
        display: block;
        padding-top: 10px;
    }
    .mini{
        display: block;
        margin: auto;
    }
    .citate{
        font-size: 12px;
    }
}